<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zhiyiislandbackend.mapper.NoteImageMapper">

    <resultMap id="BaseResultMap" type="com.example.zhiyiislandbackend.model.entity.NoteImage">
        <id column="id" property="id"/>
        <result column="note_id" property="noteId"/>
        <result column="image_url" property="imageUrl"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, note_id, image_url, create_time
    </sql>

    <insert id="insert" parameterType="com.example.zhiyiislandbackend.model.entity.NoteImage" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO note_image (note_id, image_url, create_time)
        VALUES (#{noteId}, #{imageUrl}, #{createTime})
    </insert>

    <insert id="insertBatch">
        INSERT INTO note_image (note_id, image_url, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.noteId}, #{item.imageUrl}, #{item.createTime})
        </foreach>
    </insert>

    <delete id="deleteByNoteId">
        DELETE FROM note_image WHERE note_id = #{noteId}
    </delete>

    <select id="selectByNoteId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM note_image
        WHERE note_id = #{noteId}
        ORDER BY create_time ASC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM note_image
        WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM note_image WHERE id = #{id}
    </delete>

</mapper>
